body {
    background-color: whitesmoke;
}

h1.ui.header {
    margin-bottom: 0;
}

.ui.divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer {
    background-color: gainsboro;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
}

ul>li {
    list-style: none;
}

pre {
    overflow-x: scroll;
}